# WeatherPy

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

593

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it's being processed (with the city number and city name).

In [3]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

# List to hold responses (storing name, lat dups for simplicity of moving into dictionary)
city_num = []
city_name = []
lat = []
temp = []
humidity = []
clouds = []
wind_speed = []

# Loop through cities list to perform a request for info on each
for city in cities:
    
    # Create query, make request, and store in json
    weather_response = requests.get(query_url + city).json()
    
    # Grab data where available
    try:
        city_num.append(weather_response['id'])
        city_name.append(weather_response['name'])
        lat.append(weather_response['coord']['lat'])
        temp.append(weather_response['main']['temp'])
        humidity.append(weather_response['main']['humidity'])
        clouds.append(weather_response['clouds']['all'])
        wind_speed.append(weather_response['wind']['speed'])
    
    # If any fields are blank, do not append to lists
    except:
        pass
    
    # Add 5 second interval between queries to stay within API query limits
    time.sleep(5)

# Print log
print(f"The weather API responded with: {city_num},{city_name}.")

The weather API responded with: [3369157, 2017155, 4031637, 2075265, 3402648, 3874787, 4032243, 6201424, 2510075, 2015306, 3576994, 2108502, 1486321, 3439525, 3663142, 933995, 1816336, 1629965, 3448903, 2396853, 1651810, 3420768, 6185377, 935215, 2961459, 2109701, 2264557, 4030556, 2939623, 2632287, 3833367, 5866583, 1633419, 5855927, 1633034, 2110227, 1337607, 139889, 1684803, 212730, 3471451, 5880054, 3382226, 1735106, 964432, 6062069, 1490918, 2155415, 1637001, 480267, 2122090, 3439389, 3403395, 3430863, 5122534, 2136825, 5364271, 1495626, 1254046, 3440777, 3984997, 1737486, 3424607, 3995236, 214575, 3374210, 2304548, 2163355, 5848280, 1337619, 3083829, 2618795, 3839307, 5106841, 2177254, 3466165, 2068655, 3361934, 4033557, 3421765, 2070998, 3372707, 2392087, 2126199, 1514792, 1006984, 3393536, 3120811, 2122493, 2093967, 4272340, 2331939, 2126123, 546105, 5882953, 1491267, 5282297, 4034551, 2138555, 5095779, 3366880, 5797693, 2206939, 3389822, 2729907, 1510689, 3466980, 3894426, 4020109, 4036284, 5558953, 1263752, 1701394, 3652764, 3418910, 3935624, 1526970, 964420, 4231997, 6089245, 918702, 1819729, 2090021, 5983720, 2208248, 5962442, 2078025, 3416888, 1716019, 6355222, 2063056, 1649150, 4047434, 3385077, 6165406, 1490256, 921889, 6149996, 5914132, 2641434, 6170031, 3414079, 2738381, 2021799, 3373652, 5557293, 6180550, 2027296, 2276492, 2180815, 4219934, 2013392, 3374120, 6255012, 3883457, 2063042, 3466704, 2181625, 3831208, 2155742, 110690, 3980782, 4406282, 778362, 169389, 2074865, 1162105, 1280037, 1516589, 1640344, 4031742, 5563839, 2094027, 292968, 1529484, 877532, 3443061, 2446796, 3386213, 1062663, 3580733, 6113406, 2450173, 3374083, 2020208, 5924351, 2028164, 777019, 2095038, 4031574, 3489440, 3448892, 1785974, 5859699, 4035715, 124862, 3838859, 3423146, 2092164, 3864331, 2123814, 3430443, 3662155, 1067565, 2164691, 3515410, 6690297, 3347019, 3628473, 1488414, 3445026, 3404558, 2246451, 1213855, 3437962, 2036892, 2094342, 1507390, 4328010, 1278176, 286987, 1789271, 3392126, 3832899, 934322, 3161622, 3691582, 6111862, 3403251, 1282256, 901766, 3868626, 3443341, 4021858, 3946820, 3157549, 5546220, 2112802, 933390, 2022572, 3836873, 3926462, 1015776, 728674, 286621, 2091996, 3356832, 3372745, 1853174, 5733351, 2281120, 2541479, 1507116, 3382160, 216281, 2194098, 3132644, 102527, 3450206, 6096551, 3860443, 1045114, 2168305, 2156643, 934479, 3123493, 3374333, 2016910, 4705086, 2522875, 3647444, 2132606, 3175788, 5989403, 3673407, 4255151, 4333811, 2171099, 214389, 1058080, 7341918, 1511381, 3139597, 2460489, 1242110, 1268008, 3664321, 108410, 3013748, 5026416, 3702577, 2141305, 5380437, 3420846, 1185239, 2112309, 2409215, 5847411, 4006677, 6171633, 3464008, 3533426, 2013727, 1529376, 2311968, 1861280, 2513947, 367544, 3354178, 1215502, 3430545, 6690296, 1790437, 1131461, 986717, 962367, 1264976, 3698359, 2512186, 2112444, 2189343, 7671223, 72181, 4513583, 3893726, 2409783, 2381972, 3996426, 134721, 480876, 3397763, 371745, 3985710, 1563281, 566751, 2176639, 5856516, 2071860, 2013279, 2167426, 474795, 2171722, 132144, 1623180, 2624212, 1796663, 1214488, 3580279, 1732871, 2158767, 5367788, 535839, 1033356, 1505965, 3932145, 3122172, 2269557, 2038087, 6167817, 5110365, 1604771, 5972291, 1540711, 314967, 1120985, 1492607, 6620339, 797213, 1619611, 2126710, 3457859, 945945, 2025241, 3406318, 3354077, 5746545, 3395458, 3105522, 779554, 3356213, 2012530, 5919815, 5338122, 5134295, 933002, 2065176, 2121385, 2035610, 2023584, 1106677, 2521582, 2208091, 1855540, 2412408, 1226260, 2161515, 509483, 2249782, 1282635, 3453060, 1244926, 3393692, 681340, 899274, 5392171, 4588165, 2023298, 2017658, 1712961, 1250161, 286245, 5969025, 2643044, 352628, 3137469, 2982972, 3693584, 3393768, 1295765, 1652203, 3976161, 1733782, 5850554, 2129868, 4726521, 123941, 2640377, 3451663, 690629, 1688781, 2142316, 3421982, 1511276, 1726449, 3620680, 3645532, 2065594, 1174451, 1270185, 2038665, 1606269, 2192362, 4013679, 3514843, 1528796, 368246, 3412093, 549786, 3355672, 359783, 2138687, 2027316, 3866163, 1083724, 2012956, 3871336, 2126785, 4007684, 1259385, 935114, 1643837, 5577158, 1797117, 964090, 7082481, 358172, 2191562, 1490796, 3172728, 3945985, 2058430, 5742974, 1634718, 1282898, 2111884, 2693759, 57000, 2014624, 3421193, 4274307, 1490624, 6160362, 3792382, 5044290, 3405339, 2058682, 3625207, 1805857, 3220856, 2447416, 2157698, 3372964, 2134814, 2137773, 53654, 2063039, 4408672, 2084442, 2381334, 373303, 3577154, 1708743, 5666176, 5919915, 2033667, 3879627, 3933104, 4944903, 3385980, 1648759, 2373951, 1691911, 2121025, 6144312, 2349788, 3452525, 2019323, 2146219, 1608462, 3372783, 1640972, 1507172, 1718367, 2332453, 2208485, 1267433, 2630299, 3557758, 2037311, 1505579, 609919, 3464724, 3529654, 1021360, 901344, 2236967, 568527, 1106643, 5321473, 3419842],['Cape Town', 'Saskylakh', 'Lavrentiya', 'Busselton', 'Carutapera', 'Punta Arenas', 'Vaini', 'Mataura', 'Utiel', 'Tiksi', 'Cockburn Town', 'Honiara', 'Yar-Sale', 'Young', 'Novo Aripuanã', 'Souillac', 'Binzhou', 'Tanete', 'São João da Barra', 'Omboué', 'Airai', 'Qasigiannguit', 'Yellowknife', 'Saint-Philippe', 'Skibbereen', 'Auki', 'Ponta do Sol', 'Rikitea', 'Dachau', 'Dalvik', 'Ushuaia', 'Saint Paul Harbor', 'Padang', 'Hilo', 'Liku', 'Butaritari', 'Kudahuvadhoo', 'Būkān', 'Tabuk', 'Kisangani', 'Arraial do Cabo', 'Barrow', 'Camopi', 'George Town', 'Port Alfred', 'Lunenburg', 'Staryy Nadym', 'New Norfolk', 'Luwuk', 'Turki', 'Pevek', 'Asunción', 'Cândido Mendes', 'Mar del Plata', 'Jamestown', 'Isangel', 'Laguna', 'Pangody', 'Tura', 'Rocha', 'San Quintín', 'Bintulu', 'Tasiilaq', 'Mulegé', 'Kampene', 'São Filipe', 'Anloga', 'Hobart', 'Kapaa', 'Ugoofaaru', 'Szczecin', 'Klaksvík', 'Rawson', 'Albany', 'Bagotville', 'Cidreira', 'Katherine', 'Saldanha', 'Tautira', 'Nanortalik', 'Geraldton', 'Ribeira Grande', 'Porto-Novo', 'Cherskiy', 'Gazojak', 'East London', 'Olinda', 'Hernani', 'Omsukchan', 'Kimbe', 'Great Bend', 'Lokoja', 'Chokurdakh', 'Nikolskoye', 'Aklavik', "Sos'va", 'Bethel', 'Faanui', 'Poum', 'Bloomfield', 'Hermanus', 'Hoquiam', 'Bluff', 'Salinópolis', 'Longyearbyen', 'Baykit', 'Caravelas', 'Coyhaique', 'Atuona', 'Alofi', 'Arcata', 'Māngrol', 'Manuk Mangkaw', 'Puerto Ayora', 'Upernavik', 'Macusani', 'Abay', 'Port Elizabeth', 'Avera', 'Norman Wells', 'Chipata', 'Hong Kong', 'Namatanai', 'Iqaluit', 'Kaitangata', 'Goderich', 'Adelaide', 'Grindavik', 'Daliao', 'Yulara', 'Port Augusta', 'Bengkulu', 'Russell', 'Conde', 'Thompson', 'Talnakh', 'Fomboni', 'Smithers', 'Campbell River', 'Northam', 'Tuktoyaktuk', 'Olafsvik', 'Lata', 'Konstantinovka', 'Oistins', 'Sitka', 'Whitehorse', 'Aykhal', 'Harper', 'Tuatapere', 'Roswell', 'Vilyuysk', 'Vila do Maio', 'Flinders', 'Lebu', 'Port Hedland', 'Castro', 'Te Anau', 'Qaanaaq', 'Narrabri', 'Faya', 'Ures', 'Rolla', 'Øksfjord', 'Idlib', 'Carnarvon', 'Zhob', 'Shache', 'Zhezkazgan', 'Kendari', 'Egvekinot', 'Fortuna', 'Kieta', 'Abu Dhabi', 'Kumul', 'Newala', 'Chui', 'Bilma', 'Touros', 'Mahajanga', 'Bodden Town', 'Prince Rupert', 'Taoudenni', 'Bathsheba', 'Ulkan', 'Clyde River', 'Deputatsky', 'Vardø', 'Kainantu', 'Provideniya', 'Morant Bay', 'São João da Ponte', 'Yuci', 'College', 'Avarua', 'Marand', 'Río Gallegos', 'Ilulissat', 'Lorengau', 'Bell Ville', 'Leningradskiy', 'Necochea', 'Sena Madureira', 'Beloha', 'Granville', 'Tlamacazapa', 'Saint-Leu', 'Mossamedes', 'San Cristobal', 'Urengoy', 'Vila Velha', 'Cabedelo', 'Saint-Louis', 'Sibolga', 'Isla Pucú', 'Hohhot', 'Kavieng', 'Dikson', 'Houma', 'Attingal', 'Nizwá', 'Xinan', 'Pilar', 'Viedma', 'Mahébourg', 'Berkåk', 'Talara', 'Port Hardy', 'Canto do Buriti', 'Hithadhoo', 'Namwala', 'Valparaíso', 'Carmelo', 'Guerrero Negro', 'Barranca', 'Finnsnes', 'Saint George', 'Hasaki', 'Kalakamati', 'Khatanga', 'San Miguel de Tucumán', 'Urcos', 'Bredasdorp', 'Obzor', 'Salalah', 'Madang', 'Henties Bay', 'Rabo de Peixe', 'Sakaiminato', 'Jackson', 'Tabou', 'Nador', 'Dudinka', 'Cayenne', 'Goma', 'Ahipara', 'Varhaug', 'Sakakah', 'Santa Helena de Goiás', 'Pangnirtung', 'Comodoro Rivadavia', 'Inhambane', 'Dubbo', 'Mount Gambier', 'Grand Gaube', 'Ferrol', 'Praia', "Severobaykal'sk", 'Lamar', 'Province of Trapani', 'Calabozo', 'Samarai', 'Oga', 'Kapuskasing', 'Padilla', 'Bud', 'Morgan City', 'Codrington', 'Kaniama', 'Nosy Varika', 'Moba', 'Aromashevo', 'Sistranda', 'Bandiagara', 'Kalmunai', 'Kanniyākumāri', 'Eirunepé', 'Riyadh', 'Hauterive', 'Fergus Falls', 'Portobelo', 'Fayaoué', 'Pacific Grove', 'Qaqortoq', 'Sarankhola', 'Katsuura', 'Mattru', 'Kahului', 'Escalerillas', 'Ucluelet', 'Esmeraldas', 'Acayucan', 'Vanavara', 'Korla', 'Nioki', 'Itoman', 'Melilla', 'Sawākin', 'Ongandjera', 'Banda Aceh', 'Morón', 'Saint-Joseph', 'Zhuhai', 'Oruzgan', 'Kruisfontein', 'Richards Bay', 'Leh', 'Chicama', 'Puerto del Rosario', 'Kamaishi', 'Kaeo', 'Kloulklubed', 'Marzuq', 'Hamilton', 'Constitución', 'Bunumbu', 'Adrar', 'Matamoros', 'Fasa', 'Tsimlyansk', 'Jacareacanga', 'Kutum', 'Cabo San Lucas', 'Tuy Hoa', 'Demidov', 'Batemans Bay', '‘Āhuimanu', 'Esperance', 'Vostok', 'Emerald', 'Verkhniy Uslon', 'Charters Towers', 'Hamadan', 'Tuban', 'Beder', 'Sanming', 'Meulaboh', 'Gouyave', 'Singkang', 'Mareeba', 'Lompoc', 'Leshukonskoye', 'Nampula', 'Igrim', 'Pisco', 'Foz', 'Castanheira de Pêra', 'Chengde', 'Torbay', 'Broome', 'Yaring', 'Havre-St-Pierre', 'Muravlenko', 'Fethiye', 'Zaranj', 'Severnoye', 'Karratha', 'Pervomayskoye', 'Bang Bo', 'Beringovskiy', 'Maracaju', 'Upington', 'Churapcha', 'Barra do Corda', 'Opuwo', 'Portland', 'Maragogi', 'Bereda', 'Honningsvåg', 'Khorixas', 'Zhigansk', 'Channel-Port aux Basques', 'Clovis', 'Rome', 'Tobane', 'Murray Bridge', "Severo-Kuril'sk", 'Nehe', 'Imeni Poliny Osipenko', 'Bambous Virieux', 'Arona', 'Waitara', 'Naze', 'Nioro', 'Trincomalee', 'Kiama', 'Pinega', 'Kolda', 'Tulsīpur', 'Pontes e Lacerda', 'Hambantota', 'Itarema', 'Cleja', 'Samfya', 'San Jose', 'Mt. Pleasant', 'Kalanguy', 'Preobrazheniye', 'Gigmoto', 'Batticaloa', 'Sur', 'Haines Junction', 'Margate', 'Maţāy', 'Sørland', 'Romilly-sur-Seine', 'Pimentel', 'Óbidos', 'Sittwe', 'Xam Nua', 'Adolfo López Mateos', 'Labuan', 'Makakilo City', 'Iwanai', 'San Patricio', 'Mīnāb', 'Penzance', 'Reserva', 'Uspenka', 'City of San Pedro', 'Yeppoon', 'Maniitsoq', 'Atagay', 'Basco', 'Bluefields', 'Ciudad Bolivar', 'Mount Isa', 'Keti Bandar', 'Hatta', 'Alihe', 'Sing Buri', 'Christchurch', 'Coahuayana Viejo', 'Emilio Carranza', 'At-Bashi', 'Raja', 'Vestmannaeyjar', 'Kholm', 'Lüderitz', 'Assiut', 'Ponérihouen', 'Ayan', 'Alta Gracia', 'Ambanja', 'Yerbogachën', 'Santiago', 'Belaya Gora', 'El Salto', 'Port Blair', 'Bhunya', 'Gorontalo', 'Fort Morgan', 'Rongcheng', 'Prieska', 'Khuzdar', 'Dekernes', 'Dunedin', 'Strezhevoy', 'Montespertoli', 'Camaná', 'Whyalla', 'North Bend', 'Muncar', 'Pokhara', 'Miyako', 'Ludvika', 'Hobyo', 'Udachny', 'Paamiut', 'Leavenworth', 'Surgut', 'Swan River', 'Cartagena del Chairá', 'Saint Anthony', 'Bom Jardim', 'Wembley', 'Yaritagua', 'Jieshi', 'Neustadt an der Waldnaab', 'Ayorou', 'Mildura', 'Lagoa', 'Sola', 'Vao', 'Mogadishu', 'Port Keats', 'Sikeston', 'Vanimo', 'Atar', 'Juba', 'Oranjestad', 'Kinablangan', 'Miles City', 'Chapleau', 'Xinqing', 'Molina', 'Pangoa', 'Nantucket', 'Tucumã', 'Bima', 'Canchungo', 'Ramon', 'Srednekolymsk', 'Sept-Îles', 'Ankpa', 'Pouso Alegre', 'Nerchinskiy Zavod', 'Hervey Bay', 'Nam Som', 'Ponta Delgada', 'Katobu', 'Dubinino', 'Karligan', 'Lagos', 'Zliten', 'Kattivākkam', 'Hofn', 'Guane', 'Gannan', 'Inta', 'Quryq', 'Diamantino', 'Dzilam González', 'Ballitoville', 'Ndola', 'Soyo', 'Chernyshkovskiy', 'Quatre Cocos', 'Winslow', 'Sisimiut'].

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [4]:
# Create dictionary to hold response data for conversion into dataframe
weather_dict = {
    "city id": city_num,
    "city": city_name,
    "lat": lat,
    "temp": temp,
    "humidity": humidity,
    "cloudiness": clouds,
    "wind speed": wind_speed    
}

# Create dataframe
cities_df = pd.DataFrame(weather_dict)

# Display dataframe
cities_df.head()

   city id        city      lat   temp  humidity  cloudiness  wind speed
0  3369157   Cape Town -33.9258  19.53        88           0        5.14
1  2017155   Saskylakh  71.9167 -30.54        83           0        3.03
2  4031637  Lavrentiya  65.5833 -32.10        80           0        4.15
3  2075265   Busselton -33.6500  17.71        68          61        0.89
4  3402648  Carutapera  -1.1950  25.87        83         100        2.75

In [5]:
cities_df.to_csv("cities.csv")

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [10]:
# Import cities.csv so API doesn't need to be called again to work with data
final_cities = "cities.csv"

final_cities_df = pd.read_csv(final_cities)
final_cities_df.drop(["Unnamed: 0"], axis=1, inplace=True)

final_cities_df.head()

   city id        city      lat   temp  humidity  cloudiness  wind speed
0  3369157   Cape Town -33.9258  19.53        88           0        5.14
1  2017155   Saskylakh  71.9167 -30.54        83           0        3.03
2  4031637  Lavrentiya  65.5833 -32.10        80           0        4.15
3  2075265   Busselton -33.6500  17.71        68          61        0.89
4  3402648  Carutapera  -1.1950  25.87        83         100        2.75

In [ ]:
# Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression